---
title: ~Git_repos
---
<div class="container mb-4">
  <% data.git.each do |git_repo| %>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title"><%= git_repo.id %></h5>
        <h6 class="card-subtitle mb-3">
          <span class="text-muted"><%= git_repo.description %></span>
          <% unless String(git_repo.url).strip.empty? %>
            &#8226;
            <%= link_to git_repo.url, git_repo.url %>
          <% end %>
        </h6>

        <small>
          <% link_added = false %>

          <% unless String(git_repo.cidv1).strip.empty? && String(git_repo.cidv0).strip.empty? %>
            <% link_added = true %>

            <i class="fas fa-cube"></i>
            IPFS:

          <% end %>

          <% unless String(git_repo.cidv1).strip.empty? %>
            <% link_to ipfs_gateway(:subdomain, :ipfs, String(git_repo.cidv1.strip)), class: 'mx-1' do %>
              <%= translate :IPFS_subdomain_gateway_CIDv1 %>
            <% end %>

            <% link_to ipfs_gateway(:path, :ipfs, String(git_repo.cidv1.strip)), class: 'mx-1' do %>
              <%= translate :IPFS_path_gateway_CIDv1 %>
            <% end %>
          <% end %>

          <% unless String(git_repo.cidv0).strip.empty? %>
            <% link_to ipfs_gateway(:path, :ipfs, String(git_repo.cidv0.strip)), class: 'mx-1' do %>
              <%= translate :IPFS_path_gateway_CIDv0 %>
            <% end %>
          <% end %>

          <% unless String(git_repo.github).strip.empty? %>
            <% if link_added %>&#8226;<% end %>
            <% link_added = true %>

            <i class="fab fa-github ml-1"></i>
            <% link_to git_repo.github, class: 'mr-1' do %>
              <%= translate :GitHub %>
            <% end %>
          <% end %>

          <% unless String(git_repo.gitlab).strip.empty? %>
            <% if link_added %>&#8226;<% end %>
            <% link_added = true %>

            <i class="fab fa-gitlab ml-1"></i>
            <% link_to git_repo.gitlab, class: 'mr-1' do %>
              <%= translate :GitLab %>
            <% end %>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>
</div>
