---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= translate :title %></h1>
    <p class="lead"><%= translate :description %></p>
  </div>
</div>

<div class="container mb-4">
  <div class="text-center">
    <% link_to external_link :telegram_channel do %>
      <i class="fab fa-telegram"></i>
      <%= translate :Telegram_channel %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :telegram_chat do %>
      <i class="fab fa-telegram"></i>
      <%= translate :Telegram_chat %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :youtube_channel do %>
      <i class="fab fa-youtube"></i>
      <%= translate :YouTube_channel %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :medium_blog do %>
      <i class="fab fa-medium"></i>
      <%= translate :Medium_blog %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :mastodon_profile do %>
      <i class="fab fa-mastodon"></i>
      <%= translate :Mastodon_profile %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :peertube_channel do %>
      <i class="fab fa-mastodon"></i>
      <%= translate :PeerTube_channel %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :twitter_profile do %>
      <i class="fab fa-twitter"></i>
      <%= translate :Twitter_profile %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :instagram_profile do %>
      <i class="fab fa-instagram"></i>
      <%= translate :Instagram_profile %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :vk_page do %>
      <i class="fab fa-vk"></i>
      <%= translate :VK_page %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to external_link :facebook_page do %>
      <i class="fab fa-facebook"></i>
      <%= translate :Facebook_page %>
    <% end %>
  </div>
</div>
