---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= translate :title %></h1>
    <p class="lead"><%= translate :description %></p>
  </div>
</div>

<div class="container mb-4">
  <% data.links.each do |link| %>
    <div class="text-center">
      <% link_to link.url do %>
        <i class="fa<%= link.fontawesome.style %> fa-<%= link.fontawesome.name %>"></i>
        <%= link.title.is_a?(Hash) ? link.title[I18n.locale] : link.title %>
      <% end %>
    </div>
  <% end %>
</div>
