---
title: ~Sources
description: ~_sources_description
---
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1><%= translate :Sources %></h1>
    <p class="lead"><%= translate :_sources_description %></p>
    <p><%= translate :How_to_read %></p>
    <ul>
      <li><%= translate :_sources_feedly %></li>
      <li><%= translate :_sources_telegram %></li>
      <li><%= translate :_sources_hacker_news %></li>
    </ul>
  </div>
</div>

<div class="container mb-4">
  <% data.sources.each do |source| %>
    <div class="mt-4">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-2">
            <%= image_tag "sources/#{source.id}.#{source.image_ext}",
                          class: 'card-img-top',
                          alt: source.title %>
          </div>

          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">
                <%= source.title %>
              </h5>

              <% source.links.each do |link| %>
                <%= link_to link.title || link.url,
                            link.url,
                            class: 'card-link' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
