<div class="container mt-4 mb-5">
  <div class="embed-responsive embed-responsive-16by9 mb-4">
    <video
      id="video-main"
      controls
      preload="auto"
      poster="<%= ipfs_gateway :path, :ipfs, video_data['cidv0'], video_data['thumbnail']['path'] %>"
      class="embed-responsive-item video-js vjs-default-skin vjs-big-play-centered"
      data-setup="{}"
    >
      <% video_data['sources'].each do |video_source_data| %>
        <source
          type='<%= video_source_data['type'] %>'
          src="<%= ipfs_gateway :path, :ipfs, video_data['cidv0'], video_source_data['path'] %>"
        />
      <% end %>
    </video>
  </div>

  <h1 class="mb-4"><%= video_data['title'] %></h1>

  <p>
    <% video_data['description'].split("\n").each do |paragraph| %>
      <%= paragraph %><br/><br/>
    <% end %>
  </p>
</div>
