<div class="container mt-4 mb-5">
  <div class="embed-responsive embed-responsive-16by9 mb-4">
    <video
      controls
      poster="https://ipfs.io/ipfs/<%= video_data['cidv0'] %>/<%= video_data['thumbnail']['path'] %>"
      class="embed-responsive-item"
    >
      <% video_data['sources'].each do |video_source_data| %>
        <source
          type='<%= video_source_data['type'] %>'
          src="https://ipfs.io/ipfs/<%= video_data['cidv0'] %>/<%= video_source_data['path'] %>"
        />
      <% end %>
    </video>
  </div>

  <h1 class="mb-4"><%= video_data['title'] %></h1>

  <p>
    <% video_data['description'].split("\n").each do |paragraph| %>
      <%= paragraph %><br/><br/>
    <% end %>
  </p>
</div>
